#inlinecontactus {
display: none;
background-color: #dfdfdf;
margin-top: 10px;
height: 24px;
text-align: center;
color: black;
border-radius: 6px;
z-index: 1;
position: relative;
}
#inlinecontactus a {
text-decoration: none;
padding: 2px 0px;
display: block;
}
#inlinecontactus a:link, a:visited {
color: black;
}
#inlinecontactus a:hover {
color: black;
}
#inlineattribution {
margin-top: 7px;
cursor: pointer;
-webkit-touch-callout: none;
-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
font-size: 13px;
}
.admarketplace, .adbistro, .mocha {
height: 32px;
}
.admarketplace img {
width: 32px;
border-radius: 20px;
}
.admarketplace > div {
margin-top: -31px;
margin-left: 38px;
}
.adbistro > img {
width: 60px;
border-radius: 0px;
float: left;
}
.adbistro > div {
line-height: 32px;
margin-left: 65px;
}
.mocha > img {
max-width: 32px;
max-height: 32px;
border-radius: 0px;
float: left;
}
.mocha > div {
line-height: 32px;
margin-left: 38px;
}
#toolbar-icon-allfilesconverter {
background: url(//img/allfilesconverter.png) 0 0;
background-size: contain;
background-size: 24px;
width: 24px;
height: 24px;
float: left;
}
#toolbar-icon-fileviewerplus {
background: url(img/fileviewerplus.png) 0 0;
background-size: contain;
background-size: 24px;
width: 24px;
height: 24px;
float: left;
}
#clock-center {
position: absolute;
width: 340px;
left: 50%;
margin-left: -170px;
top: 130px;
}
.packages_ #clock-center {
top: 0px;
}
.clock-container {
width: 80%;
margin-left: auto;
margin-right: auto;
}
#clock {
height: 2em;
font-size: 1.1em;
opacity: .75;
cursor: default;
-webkit-touch-callout: none;
-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
margin-bottom: -111px;
}
#center-content {
text-align: center;
}
.hidden {
display: none;
}
#hp-quicklinks.six-wide {
max-width: 700px;
min-width: 700px;
}
#setting-content {
height: 20.6em;
}
.keepIt:before{
content:"";
width:0px;
height:0px;
display:inline-block;
border-left:20px solid transparent;
border-right:20px solid transparent;
border-bottom:20px solid white;
float:right;
margin-right:50px;	   
margin-top:-35px;
}

.keepIt {
text-align:center;
font-size:14px;
}	 